.App {
  text-align: center;
}


.app-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-top {
  font-size: 1.5em;
  text-align: left;
}

.header-bottom {
  font-size: 1em;
  text-align: left;
}

.header-current {
  font-size: 1.7em;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-current-form {
  height: 1em;
  margin-top:5px;
}